[Unit]
Description=Swither windows
Requires=systemd-modules-load.service
Wants=network.target multi-user.target
After=systemd-modules-load.service network.target multi-user.target

[Service]
Type=simple
ExecStart=bash -c /usr/local/bin/events.sh
